<div class="container-fluid bg-dark navbar-dark">
   <div class="d-flex justify-content-between">
       <div>
           <img
            class="logotype" 
            src="https://nice-assets.s3-accelerate.amazonaws.com/smart_templates/4494511036a709c3866776d983b8d47f/assets/preview_5166e76c7c9b7cb3463399e73687183b.jpg"
            alt="">
       </div>
       <div>
           <p>gabrielomarquisperosas@gmail.com</p>
       </div>
       <div class="d-flex flex-row-reverse">
           <a href="" class="nav-link active">asd</a>
           <a href="" class="nav-link">asd</a>
           <a href="" class="nav-link disabled">asd</a>
       </div>
   </div> 
</div>